﻿@using Newtonsoft.Json
@using TestProject.Enum
@using TestProject.Models.Home
@model TestProject.Models.Home.QuestionsModel

@{
    ViewBag.Title = "Questions page";

    var allIds = ((IEnumerable<QuestionsModel>) ViewBag.Questions)
        .Select(c => c.Id);
}

<div class="row" align="center" style="margin-top: 15%">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        var counter = 0;

        foreach (var question in (IEnumerable<QuestionsModel>)ViewBag.Questions)
        {
            <div class="col-md-12" id="@question.Id" style="@Html.Raw(counter == 0 ? "display:visible":"display:none")">
                @Html.Hidden("QuestionId", question.Id)
                @Html.Label(question.Question)
                @switch (question.TypeOfQuestion)
                {
                    case TypeOfQuestion.Int:
                        @Html.TextBox("Answers", "", new { @class = "form-control", type = "number", required= "required" })
                        break;
                    case TypeOfQuestion.String:
                        if (question.IsEnum)
                        {
                            @Html.DropDownList("Answers", (question.EnumQuestions.Select(c => new SelectListItem
                            {
                                Text = c.Value,
                                Value = c.Value
                            })))
                        }
                        else
                        {
                            @Html.TextBox("Answers", "", new { @class = "form-control", type = "text", required = "required" })
                        }
                        break;
                    case TypeOfQuestion.DateTime:
                        @Html.TextBox("Answers", "", new { @class = "form-control", type = "date", required = "required" })
                        break;
                    case TypeOfQuestion.Flag:
                        <text>
                            @Html.Label("Да")
                            <input type="radio" name="Answers" value="Да" />
                            @Html.Label("Нет")
                            <input type="radio" name="Answers" value="Нет" />
                        </text>
                        break;
                }
                <div>
                    <input type="button" class="back_btn" value="Назад" data-questionId="@question.Id"/>
                    <input type="button" class="next_btn" value="Далее" data-questionId="@question.Id"/>
                </div>
            </div>
            counter++;
        }
        <div class="col-md-12" align="center" id="save_button" style="margin-top: 20px; display: none">
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            // All questions ids
            var questions = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(allIds))');

            // For back question visible and hide for next questions
            $('.back_btn').on('click', function() {
                var currId = $(this).attr("data-questionId");
                var index = questions.indexOf(currId);

                if (index > 0 && index < 6) {
                    var backIndex = Number(index - 1);
                    var backQuestion = questions[backIndex];
                    $('#' + backQuestion).css('display', 'block');
                    $('#' + currId).hide();
                }
            });

            // For next question visible and hide for back questions
            $('.next_btn').on('click', function() {
                var currId = $(this).attr("data-questionId");
                var index = questions.indexOf(currId);

                if (index < 5 && index >= 0) {
                    var nextIndex = Number(index + 1);
                    var backQuestion = questions[nextIndex];
                    $('#' + backQuestion).css('display', 'block');
                    $('#' + currId).hide();

                    if (index == 4) {
                        $('#save_button').css('display', 'block');
                    }
                }
            });
        });
    </script>
}